@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-light: #f7f8fc;
  --toastify-color-dark: #444444;
  --toastify-color-info: #3498db;
  --toastify-color-success: #00b25a;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #ef476f;
  --toastify-font-family: 'Poppins', 'serif';
}

.bg-bleed {
  box-shadow: 0 0 0 100vmax #f7f8fc;
  clip-path: inset(0 -100vmax);
}

.bg-bleed-lightBlue {
  box-shadow: 0 0 0 100vmax #eff0f6;
  clip-path: inset(0 -100vmax);
}

.Toastify__toast {
  padding-inline: 1rem;
  border-radius: 0.75rem;
}

.Toastify__toast-container {
  top: 10vh;
}

.Toastify__close-button {
  font-size: 25rem;
  align-self: center;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  nav {
    clip-path: none !important;
  }
}
